.fill-viewport-height { min-height: 100vh; }
.serif-font { font-family: 'Libre Baskerville', serif; }

.fg-solarized-base01 { color: #586e75; }
.fg-solarized-base0, .footer-link { color: #839496; }
.fg-solarized-base2 { color: #eee8d5; }
.fg-solarized-yellow { color: #b58900; }
.fg-solarized-cyan, .footer-link:hover { color: #2aa198; }
.fg-solarized-green { color: #859900; }

.bg-solarized-base03 { background-color: #002b36; }
.bg-solarized-base02 { background-color: #073642; }
.bg-solarized-base01 { background-color: hsl(194, 14%, 40%); }
.bg-solarized-base01:hover { background-color: hsl(194, 14%, 48%); }  /* lightness +20% */
.bg-solarized-yellow { background-color: hsl(45, 100%, 35%); }
.bg-solarized-yellow:hover { background-color: hsl(45, 100%, 42%); }  /* lightness +20% */
.bg-solarized-cyan { background-color: hsl(175, 59%, 40%); }
.bg-solarized-cyan:hover { background-color: hsl(175, 59%, 48%); }  /* lightness +20% */
.bg-solarized-green { background-color: hsl(68, 100%, 30%); }
.bg-solarized-green:hover { background-color: hsl(68, 100%, 36%); }  /* lightness +20% */

.base01-border { border: solid #586e75 1px; }
.no-border { border: none; }
.page-footer { position: fixed; bottom: 10px; }
