{% load webapp_extras %}
<div class="control dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button bg-solarized-yellow no-border" id="{{ command }}_dropdown"
            aria-haspopup="true" aria-controls="{{ command }}_dropdown_menu">
      {{ labels.imperative|dict_get:command|capfirst }}...
    </button>
  </div>
  <div class="dropdown-menu" id="{{ command }}_dropdown_menu" role="menu">
    <div class="dropdown-content bg-solarized-base02 base01-border">
      <form action="{% url 'main' %}" method="post" id="{{ command }}_form">
        {% csrf_token %}
        <div class="buttons">
          {% for obj_key, obj in objects.items %}
            <div class="dropdown-item">
              <button class="button bg-solarized-green no-border"
                      type="submit" id="{{ command }}_{{ obj_key }}_button"
                      name="command" value="{{ command }} {{ obj_key }}">
                {{ obj.name }}
              </button>
            </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
</div>
