{% load webapp_extras %}
<div class="control dropdown is-hoverable">
{% with verb=labels.imperative|dict_get:command|capfirst %}
  <div class="dropdown-trigger">
    <button class="button serif-font bg-solarized-yellow no-border" id="{{ command }}_dropdown"
            aria-haspopup="true" aria-controls="{{ command }}_dropdown_menu">
      {{ verb }}<i class="fa fa-angle-down fa-pull-right"></i>
    </button>
  </div>
  <div class="dropdown-menu" id="{{ command }}_dropdown_menu" role="menu">
    <div class="dropdown-content bg-solarized-base02 base01-border">
      <div class="buttons">
        {% for obj_key, obj in objects.items %}
          <div class="dropdown-item">
            <form action="{% url 'main' %}" method="post" id="{{ command }}_{{ obj_key }}_form">
              {% csrf_token %}
{% with noun=obj.name %}
              <button class="button serif-font bg-solarized-green no-border"
                      type="submit" id="{{ command }}_{{ obj_key }}_button"
                      name="command" value="{{ command }} {{ obj_key }}">
                {{ noun }}
              </button>
              <input type="hidden" name="command_text" value="{{ verb }} {{ noun }}">
{% endwith %}
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endwith %}
</div>
