<nav class="level">
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Written in</p>
    <p><a class="footer-link" href="https://www.python.org/">Python</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Powered by</p>
    <p><a class="footer-link" href="https://www.djangoproject.com/">Django</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">CSS</p>
    <p><a class="footer-link" href="https://bulma.io/">Bulma</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Color scheme</p>
    <p><a class="footer-link" href="https://ethanschoonover.com/solarized/">Solarized</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Icons</p>
    <p><a class="footer-link" href="https://fontawesome.com/">Font Awesome</a></p>
    </div>
  </div>
</nav>
