<nav class="level">
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Powered by</p>
    <p><a class="footer-link" href="https://www.djangoproject.com/" target="_blank">Django</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">CSS</p>
    <p><a class="footer-link" href="https://bulma.io/" target="_blank">Bulma</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Font</p>
    <p><a class="footer-link" href="https://fonts.google.com/specimen/Libre+Baskerville" target="_blank">Libre Baskerville</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Icons</p>
    <p><a class="footer-link" href="https://materialdesignicons.com/" target="_blank">Material Design</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div class="page-footer">
    <p class="heading fg-solarized-base01">Colors</p>
    <p><a class="footer-link" href="https://ethanschoonover.com/solarized/" target="_blank">Solarized</a></p>
    </div>
  </div>
</nav>
