{% load webapp_extras %}
<div class="control dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button serif-font bg-solarized-cyan no-border" id="go_dropdown"
            aria-haspopup="true" aria-controls="go_dropdown_menu">
      Jdi<i class="fa fa-angle-down fa-pull-right"></i>
    </button>
  </div>
  <div class="dropdown-menu" id="go_dropdown_menu" role="menu">
    <div class="dropdown-content bg-solarized-base02 base01-border">
      <div class="buttons">
        {% for exit in game.current_room.exits|sort_by_index:labels.exit_keys %}
          <div class="dropdown-item">
            <form action="{% url 'main' %}" method="post" id="go_form">
              {% csrf_token %}
{% with direction=labels.exits|dict_get:exit %}
              <button class="button serif-font bg-solarized-green no-border"
                      type="submit" id="go_{{ exit }}_button"
                      name="command" value="{{ exit }}">
                {{ direction }}
              </button>
              <input type="hidden" name="command_text" value="Jdi {{ direction }}">
{% endwith %}
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
