<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p id="room_description">
        {{ game.current_room.description }}
    </p>
    <p>
      Vidím tady:
      <ul>{{ in_room_names|unordered_list }}</ul>
    </p>
    <p>
      Mám u sebe:
      <ul>{{ in_inventory_names|unordered_list }}</ul>
    </p>
    <form action="{% url 'home' %}" method="post" id="exit_form">
      {% csrf_token %}
      <p>
        {% for exit in game.current_room.exits %}
          <button type="submit" id="{{ exit }}_button"
                  name="command" value="{{ exit }}">
            Jdi
            {% for key, value in exits_czech.items %}
              {% if key == exit %}{{ value }}{% endif %}
            {% endfor %}
          </button>
        {% endfor %}
      </p>
    </form>
    <form action="{% url 'select_object' %}" method="post" id="command_form">
      {% csrf_token %}
      <p>
        {% for command in commands %}
          <button type="submit" id="{{ command }}_button"
                  name="command" value="{{ command }}">
            {% for key, value in commands_czech.items %}
              {% if key == command %}{{ value|capfirst }}{% endif %}
            {% endfor %}
          </button>
        {% endfor %}
      </p>
    </form>
    <form action="{% url 'restart' %}" method="post" id="restart_form">
      {% csrf_token %}
      <button type="submit" id="restart_button">Restartovat</button>
    </form>
    {% if message %}
    <p id="message">
        {{ message }}
    </p>
    {% endif %}
</body>
</html>
