<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>
        {{ game.current_room.description }}
    </p>
    <form action="{% url 'home' %}" method="post" id="command_form">
      {% csrf_token %}
      <p>
        {% for exit in game.current_room.exits %}
          <button type="submit" id="{{ exit }}_button"
                  name="command" value="{{ exit }}">
            Jdi
            {% for key, value in exits_czech.items %}
              {% if key == exit %}{{ value }}{% endif %}
            {% endfor %}
          </button>
        {% endfor %}
      </p>
    </form>
    <form action="{% url 'restart' %}" method="post" id="restart_form">
      {% csrf_token %}
      <button type="submit" id="restart_button">Restartovat</button>
    </form>
    {% if message %}
    <p>
        {{ message }}
    </p>
    {% endif %}
</body>
</html>
