<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ labels.title }}</title>
</head>
<body>
  {% load webapp_extras %}
  <p id="question">
    Co mám {{ labels.infinitive|dict_get:command }}?
  </p>
  <form action="{% url 'home' %}" method="post" id="object_form">
    {% csrf_token %}
    <p>
      {% for obj_key, obj in objects.items %}
        <button type="submit" id="{{ obj_key }}_button"
                name="command" value="{{ command }} {{ obj_key }}">
          {{ obj.name }}
        </button>
      {% endfor %}
    </p>
  </form>
</body>
</html>
